{
    "scope": "text.html",
    "completions": [
        {
            "trigger": "fl-linuxmint-inverse",
            "contents": "<${1:i} class=\"fl-linuxmint-inverse$2\"></${1:i}>"
        },
        {
            "trigger": "fl-centos",
            "contents": "<${1:i} class=\"fl-centos$2\"></${1:i}>"
        },
        {
            "trigger": "fl-slackware-inverse",
            "contents": "<${1:i} class=\"fl-slackware-inverse$2\"></${1:i}>"
        },
        {
            "trigger": "fl-mageia",
            "contents": "<${1:i} class=\"fl-mageia$2\"></${1:i}>"
        },
        {
            "trigger": "fl-ubuntu",
            "contents": "<${1:i} class=\"fl-ubuntu$2\"></${1:i}>"
        },
        {
            "trigger": "fl-freebsd",
            "contents": "<${1:i} class=\"fl-freebsd$2\"></${1:i}>"
        },
        {
            "trigger": "fl-ubuntu-inverse",
            "contents": "<${1:i} class=\"fl-ubuntu-inverse"
        },
        {
            "trigger": "fl-mandriva",
            "contents": "<${1:i} class=\"fl-mandriva$2\"></${1:i}>"
        },
        {
            "trigger": "fl-linuxmint",
            "contents": "<${1:i} class=\"fl-linuxmint$2\"></${1:i}>"
        },
        {
            "trigger": "fl-gentoo",
            "contents": "<${1:i} class=\"fl-gentoo$2\"></${1:i}>"
        },
        {
            "trigger": "fl-coreos",
            "contents": "<${1:i} class=\"fl-coreos$2\"></${1:i}>"
        },
        {
            "trigger": "fl-fedora-inverse",
            "contents": "<${1:i} class=\"fl-fedora-inverse$2\"></${1:i}>"
        },
        {
            "trigger": "fl-redhat",
            "contents": "<${1:i} class=\"fl-redhat$2\"></${1:i}>"
        },
        {
            "trigger": "fl-debian",
            "contents": "<${1:i} class=\"fl-debian$2\"></${1:i}>"
        },
        {
            "trigger": "fl-archlinux",
            "contents": "<${1:i} class=\"fl-archlinux$2\"></${1:i}>"
        },
        {
            "trigger": "fl-fedora",
            "contents": "<${1:i} class=\"fl-fedora$2\"></${1:i}>"
        },
        {
            "trigger": "fl-opensuse",
            "contents": "<${1:i} class=\"fl-opensuse$2\"></${1:i}>"
        },
        {
            "trigger": "fl-slackware",
            "contents": "<${1:i} class=\"fl-slackware$2\"></${1:i}>"
        },
        {
            "trigger": "fl-elementary",
            "contents": "<${1:i} class=\"fl-elementary$2\"></${1:i}>"
        }
    ]
}